---
import HeaderPrincipal from '../components/HeaderPrincipal.astro';
import StartScreen from '../sections/StartScreen.astro';
import Layout from '../layouts/Layout.astro';
import NoticiasScreen from '../sections/NewsSection.astro';
import MusicaScreen from '../sections/MusicSection.astro';
import EstrenosScreen from '../sections/PremiereSection.astro';
import ContactoScreen from '../sections/ContactSection.astro';
---

<Layout title="Blind">

	<HeaderPrincipal  />
	
	
	<main class=" snap-y snap-mandatory relative w-screen h-screen  overflow-x-hidden overflow-y-auto no-scrollbar ">
		
		
		<div class="snap-center " id="startScreen">		
			<StartScreen />
		</div>
		
		<div class="snap-center" id="noticias">
			<NoticiasScreen />
		</div >
		
		<div class="snap-center" id="estrenos" >
			<EstrenosScreen />
		</div>

		<div class="snap-center" id="musica">
			<MusicaScreen/>	
		</div >


		<div class="snap-center" id="contacto">
			<ContactoScreen/>
		</div>



	
	</main>


</Layout>
