---
import FotosScreen from '../components/FotosScreen.astro';
import HeaderPrincipal from '../components/HeaderPrincipal.astro';
import StartScreen from '../components/StartScreen.astro';
import Layout from '../layouts/Layout.astro';
import NoticiasScreen from '../components/NoticiasScreen.astro';
import MusicaScreen from '../components/MusicaScreen.astro';
import EstrenosScreen from '../components/EstrenosScreen.astro';
import ContactoScreen from '../components/ContactoScreen.astro';
---

<Layout title="Blind">

	<HeaderPrincipal />
	
	
	<main class=" snap-y snap-mandatory relative w-screen h-screen overflow-y-auto overflow-x-hidden ">
		
		
		<div class="snap-center" id="startScreen">
				
			<StartScreen />
		</div>
		
		<div class="snap-center" id="noticias">
			<NoticiasScreen />
			
		</div >

		<div class="snap-center" id="musica">
			<MusicaScreen/>	
		</div >

		<div class="snap-center" id="estrenos" >
			<EstrenosScreen />
		</div>

		<div class="snap-center" id="contacto">
			<ContactoScreen/>
		</div>



	
	</main>


</Layout>
