---
import 'flowbite';
---
<section class="landing-section bg-black   h-screen w-screen text-center relative overflow-hidden "
data-header-color="white"
data-header-active="true"
data-header-background="black"
>
 
</section>
