---
import 'flowbite';

import localImage from '../../public/album.svg'
---
<section class="landing-section  h-screen w-screen text-center relative overflow-hidden "
data-header-color="white"
data-header-active="true"
data-header-background="black"
>



    <img src={localImage} class="h-screen w-screen" alt="...">
 
</section>
