---
import 'flowbite';
import Slider from './Slider.astro';
import BigSlider from './BigSlider.astro';

---
<section class="landing-section h-screen w-screen text-center relative overflow-hidden "
data-header-color="black"
data-header-active="true"
data-header-background="white"
>



    <BigSlider></BigSlider>



    <Slider></Slider>




</section>
