<section
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden text-white"
  data-header-color="white"
    data-header-active="true"
>
  <div class="z-30 relative h-full flex flex-col justify-center">
    <header>
      <h2
        class="text-9xl font-medium flex flex-row justify-center drop-shadow-xl shadow-white "
      >Blind
      </h2>
    </header>
  </div>

  <div
    class="absolute flex flex-row top-0 bottom-0 h-full w-full z-10 brightness-50"
  >
    <video
      class="object-cover basis-1/2 brightness-50"
      autoplay
      muted
      loop
      src="/video.webm"></video>

    <video
      class="object-cover basis-1/2 brightness-50"
      autoplay
      muted
      loop
      src="/video.webm"></video>
  </div>
</section>
