
<section
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden text-white
  "
  data-header-color="white"
  data-header-active="true"
  data-header-background="black"
>
  <div class="z-30 relative h-full flex flex-col justify-center">
    <header>
      <h2 id="Name"
        class="text-9xl font-medium flex flex-row justify-center drop-shadow-xl shadow-white cursor-default  "
      >Blind
      </h2>
      
    </header>
  </div>

  <div
    class="absolute block lg:flex lg:flex-row top-0 bottom-0 h-full w-full z-10 brightness-50"
|  >
    <video
      class="object-cover basis-1 lg:basis-1/2 brightness-50 bg-black h-full w-full" 
      autoplay
      muted
      loop
      src="/video.webm"></video>

    <video
      class="hidden object-cover basis-1/2 brightness-50 lg:block h-full w-full bg-black"
      autoplay
      muted
      loop
      src="/video.webm"></video>
  </div>
</section>


<script>
  const options = {
    root: null, // El valor nulo significa que el 치rea de observaci칩n es el viewport
    threshold: 0.5, // Define la cantidad de intersecci칩n necesaria para disparar la animaci칩n
  };

  const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {

        entry.target.classList.add('animate-fade-up','animate-duration-1000');
        
      }else{
        entry.target.classList.remove('animate-fade-up');
      }
    });
  }, options);

  const miComponente = document.getElementById('Name');
  if (miComponente) {
    observer.observe(miComponente);
  }
</script>

