---
import { Image } from "astro:assets";
import { HeaderIds } from "../enum/header-ids";
import { FaSpotify } from "react-icons/fa";
import { FaYoutube } from "react-icons/fa";
import { SiApplemusic } from "react-icons/si";
import dragonfly from "../assets/dragonfly-blind.jpg";
import blindPromo from "../assets/blind-promo.jpg";
---

<section
    class="landing-section h-screen w-screen text-center relative overflow-hidden bg-black flex flex-col lg:flex-row gap-2"
    data-header-color="white"
    data-header-active="true"
    data-header-background="black"
    data-name-section={HeaderIds.PREMIERE}
>
    <div
        class="w-full lg:w-1/2 h-1/3 mt-20 lg:mt-0 lg:h-screen flex justify-center items-center"
    >
        <div
            class="flex flex-col gap-8 lg:gap-14 text-left text-white"
            id="premier-title"
        >
            <h1 class="text-white lg:text-8xl text-6xl">Dragon Fly</h1>
            <div class="flex flex-col gap-1 lg:gap-5">
                <h3 class="text-white lg:text-3xl text-1xl">
                    Proximamente en:
                </h3>
                <div class="flex gap-5 items-center">
                    <a
                        href="https://open.spotify.com/intl-es/artist/5gfMFr9fFFirQKjC67BWZq"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-white hover:"
                    >
                        <FaSpotify size="2em" />
                    </a>

                    <a
                        href="https://www.youtube.com/channel/UCv1fFr6v6Zb2Z6j7Z1g2Qjw"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-white hover:"
                    >
                        <FaYoutube size="2.5em" />
                    </a>

                    <a
                        href="https://music.apple.com/us/artist/dragon-fly/158019144"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-white hover:"
                    >
                        <SiApplemusic size="2em" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- <Image id="blindNews" src={dragonfly} alt="Blind." class="w-1/2" /> -->
    <div
        id="carousel"
        class="relative w-full lg:w-1/2 h-2/3 lg:h-screen mt-10 lg:mt-0"
        data-carousel=" static"
    >
        <!-- Carousel wrapper -->
        <div class="relative h-screen overflow-hidden rounded-lg">
            <!-- Item 1 -->
            <div
                id="carousel-item-1"
                class="hidden duration-[2000ms] ease-linear"
                data-carousel-item
            >
                <img
                    src={dragonfly.src}
                    class="absolute block w-3/4 lg:w-3/4 -translate-x-1/2 -translate-y-1/2 top-1/4 lg:top-1/2 left-1/2"
                    alt="..."
                />
            </div>
            <!-- Item 2 -->
            <div
                id="carousel-item-2"
                class="hidden duration-[2000ms] ease-linear"
                data-carousel-item
            >
                <img
                    src={blindPromo.src}
                    class="absolute block w-3/4 lg:w-3/4 -translate-x-1/2 -translate-y-1/2 top-1/4 lg:top-1/2 left-1/2"
                    alt="..."
                />
            </div>
        </div>
    </div>

    <script>
        import { Carousel } from "flowbite";

        const carouselElement = document.getElementById("carousel");

        const items = [
            {
                position: 0,
                el: document.getElementById("carousel-item-1"),
            },
            {
                position: 1,
                el: document.getElementById("carousel-item-2"),
            },
        ];

        // options with default values
        const options = {};

        // instance options object
        const instanceOptions = {
            id: "carousel",
            override: true,
        };
        const carousel = new Carousel(
            carouselElement,
            items,
            options,
            instanceOptions,
        );

        function changeItem() {
            carousel.next();
        }

        setInterval(changeItem, 6000);
    </script>

    <script
        src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"
    ></script>
</section>
