--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
@import url(https://db.onlinewebfonts.com/c/809e4b078034095ff3d1fb1097aadcb4?family=Old+English+%28LET%29+W02);
 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 


 body {
  font-family: "Old English (LET) W02", sans-serif;
}
</style>
